.body{
    background-color: #04407C;
    font-family:'Times New Roman', Times, serif;
}

.main{
    background-color: #0066CC;
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start;
    border-radius: 30px;

}

#home{
    margin-right: 25px;
    cursor: pointer;
    color: white;
    margin-left: 10px;
}
#home:hover{
    text-decoration: underline;
}



#about{
    margin-right: 25px;
    cursor: pointer;
    color: white;
    
}
#about:hover{
    text-decoration: underline;
}



#cu{
    margin-right: 25px;
    cursor: pointer;
    color: white;
}
#cu:hover{
    text-decoration: underline;
}


#log-in{
    margin-left: 1200px;
    color: white;
    background-color: #04407C;
    width: 70px;
    border-radius: 20px;

}