.body{
    background-color: #F0F0F0;
}

.main{
    background-color: #f8dc08;
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start;
    border-radius: 30px;
    height: 70px;
}

#home{
    margin-top: 25px;
    margin-right: 25px;
    cursor: pointer;
    color: black;
    margin-left: 20px;
    font-family: Arial;
}

#home:hover{
    text-decoration: underline;
}



#about{
    margin-right: 25px;
    cursor: pointer;
    color: black;
    font-family: Arial;
    margin-top: 25px;
}
#about:hover{
    text-decoration: underline;
}



#cu{
    margin-right: 25px;
    cursor: pointer;
    color: black;
    font-family: Arial;
    margin-top: 25px;
}
#cu:hover{
    text-decoration: underline;
}


#log-in{
    margin-left: 1200px;
    color: white;
    background-color:black;
    width: 80px;
    height: 30px;
    margin-top: 20px;
    font-family: Arial;
    transition: all 0.5s ease;
    border-radius: 30px;
}

#log-in:hover{
  color:#f8dc08;
  background-color: white;
 }

 #log-in:active{
    color: black;
    background-color: #f8dc08;
 }
